.btn {
	color: #d80b0b;
	background: blue;
	font-family: "Amaranth", sans-serif;
	font-size: 22px;
	font-weight: 400;
	font-style: italic;
	text-transform: capitalize;
	padding: 3px 15px;
	border-radius: 0;
	border: 2px solid rgba(255, 255, 255, 0.2);
	box-shadow: 4px 4px 0 rgba(255, 255, 255, 0.3),
		8px 8px 0 rgba(255, 255, 255, 0.2);
	position: relative;
	z-index: 1;
}
.btn:hover {
	color: #9e1c1c;
	box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.4);
	border-color: #875151;
	transform: scale(1.1);
}
.btn-primary {
	background-color: O#0d6efd;
	color: rgb(227, 39, 89);
}
